doctype html
html
  head
    title= title
    meta(name='viewport',content='width=device-width, height=device-height, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1, target-densitydpi=device-dpi')
    link(rel="stylesheet", href='/layui/css/layui.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src="/layui/layui.js")
  body
    .layui-container
      .layui-row.header
        .layui-col-md6(style="padding:18px")
          a(href='/') 
            img(src='/img/logo.png', width="166px")
        .layui-col-md6
          ul.layui-nav(style='background-color:#444')
            li.layui-nav-item
              a(href='/doc') 
            li.layui-nav-item
              a(href='/course') COURSE
            li.layui-nav-item
              a(href='/product') PRODUCT
            li.layui-nav-item
              a(href='/about') ABOUT
      .layui-row.main
        block content
      .layui-row.footer
    script.
      layui.use('element', function(){
        var element = layui.element;
      });
