doctype html
html
  head
    title= title
    meta(name='viewport',content='width=device-width, height=device-height, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1, target-densitydpi=device-dpi')
    script(src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js")
    link(rel="stylesheet", href='/layui/css/layui.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src="/layui/layui.js")
    script(src="/js/layout.js")
    script(src="/js/common/basic.js")
    block head
  body
    .layui-container
      .layui-row.top-bar
        .layui-col-md2.layui-col-xs2(style='background-color:#a9ff00') &nbsp;
        .layui-col-md2.layui-col-xs2(style='background-color:#eaff00') &nbsp;
        .layui-col-md2.layui-col-xs2(style='background-color:#ffc000') &nbsp;
        .layui-col-md2.layui-col-xs2(style='background-color:#ff8a00') &nbsp;
        .layui-col-md2.layui-col-xs2(style='background-color:#ff5a00') &nbsp;
        .layui-col-md2.layui-col-xs2(style='background-color:#ff0000') &nbsp;
      .layui-row.header
        .layui-col-md5.layui-col-xs9(style="padding:18px")
          a(href='/') 
            img#logo(src='/img/logo.png')
        .layui-col-md7
          ul.layui-nav.menu(style="text-align:right")
            li.layui-nav-item
              a(href='/') 
                i.layui-icon.layui-icon-home &nbsp;
                span 首页
            li.layui-nav-item
              a(href='/doc') 
                i.layui-icon.layui-icon-component &nbsp;
                span 文章
            li.layui-nav-item
              a(href='/course') 
                i.layui-icon.layui-icon-read &nbsp;
                span 课程
            li.layui-nav-item
              a(href='/download') 
                i.layui-icon.layui-icon-list &nbsp;
                span 资源
            li.layui-nav-item
              a(href='/about') 
                i.layui-icon.layui-icon-about &nbsp;
                span 关于
        .layui-col-xs3.mobile-menu-button-col.right
          i.layui-icon.layui-icon-shrink-right#mobile-menu-button(style='font-size:25px;')
      .layui-row.main
        .layui-col-md12
          block content
      .layui-row.footer
        .layui-col-md6.left.layui-breadcrumb(lay-separator="|")
          a(href='/') MUSICDUINO.COM 
          a(href='/copyright') Copyright 2018
          a(href='http://www.miitbeian.gov.cn') 湘ICP备17017251号
        .layui-col-md6.right.layui-breadcrumb(lay-separator="|")
          a(href='/sitemap') 网站地图
          a(href='/about') 关于我们
      
      
