body {
  margin: 0;
  padding: 0;
  font: 14px "Microsoft Yahei", "Lucida Grande", Helvetica, Arial, sans-serif;
}
.top-bar {
  line-height: 5px;
}
a:hover {
  color: #84bf10 !important;
}
.header {
  background-color: #222;
  color: white;
}
.header a {
  color: white;
  font: "Microsoft Yahei";
}
.header .layui-nav-bar {
  background-color: #84bf10;
}
.header .layui-nav {
  background-color: #222;
}
.footer {
  background-color: #222;
  color: #666;
  padding: 9px 12px 12px 12px;
}
.footer a {
  color: #666;
  font-size: 12px;
}
.footer a:hover {
  color: #84bf10 !important;
}
/* ALIGN */
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
